* {
    background-color: #ffcd9e;
    font-family: 'Inter';
    font-style: normal;
}

h1 {
    top: 90px; 
    left: 100px; 
}

img {
    position: absolute;
    width: 575px;
    height: 575px;
    left: 818px;
    top: 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.icon {
    display: inline;
    width: 29.41px;
    height: 27.42px;
    top: 60px;
    left: 100px;
    background-color: #ffcd9e;
}

h2 {
    position: absolute;
    width: 562px;
    height: 108px;
    left: 136px;
    top: 83px;
}

p {
    position: absolute;
    width: 495px;
    height: 81px;
    left: 136px;
    top: 219px;

    
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;

    display: flex;
    align-items: center;

    color: #484848;
}

strong {
    position: absolute;
    width: 227px;
    height: 81px;
    left: 136px;
    top: 332px;

    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
/* or 32px */
    display: flex;
    align-items: center;

color: #282828;

}

ul {
    background-color: #282828; 
    position: absolute;
    width: 216px;
    height: 36px;
    left: 191px;
    top: 60px;
    line-height: 32px;
}

li{
    color: #FFFFFF;
    background-color: #282828;
    font-weight: 400;
    list-style-type: none;
}


.col2 {
position: relative;
width: 232px;
height: 36px;
top: 60px;
left: 1099px;
line-height: 32px;

}

.footer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 592px;
    background: #282828;
}

.text {
    /* Free - No Spam - No Data Sharing */
position: absolute;
width: 344px;
height: 61px;
left: 190px;
top: 479px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* or 26px */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}